.tab {
    display: flex;
}

.tab>button {
    /* margin: 20px; */
    border: 1px black solid;
    border-radius: 0%;
}

.selected {
    margin: 10px 10px 2px 10px;
    border-bottom: 0px;
    background-color: black;
    color: white;
}

.notSelected {
    margin: 10px 10px 2px 10px;
    color: black;
    background-color: white;
}

.content {
    border: 1px black solid;
    height: 100px;
    width: 400px;
    margin-left: 10px;
    padding: 1%;
}
